<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Visual Sitecore ServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://learning/sitecore/shell/webservice/service.asmx"
                binding="basicHttpBinding" bindingConfiguration="Visual Sitecore ServiceSoap"
                contract="SitecoreWS.VisualSitecoreServiceSoap" name="Visual Sitecore ServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>